* {
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

img{
    max-width: 100%;
}

header{
    background-color: black;
    color: #fff;
}

.wrapper{
    max-width: 940px;
    margin: 0 auto;
}

header .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul{
    list-style: none;
    display: flex;
}

ul li{
    margin-left: 10px;
}

nav a{
    text-decoration: none;
    color: #fff;
}

#hero{
    height: 600px;
    background-image: url(../images/hands-typing.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: grayscale(70%);
}

#hero h1{
    max-width: 60%;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    text-shadow: 1px 1px 2px #000;
}

#about-me .wrapper{
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
}
#about-me p {
    text-align: left;
    padding: 10px;
}

#services{
    background-color: #fafafa;
    padding-top: 20px;
    padding-bottom: 50px;
    /* text-align: center; */
}
.services-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

#services article {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #fafafa;
    padding: 1rem;
}

#services a {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    margin-top: auto;
}
#services h3{
    text-align: center;
}
#work{
    padding: 2rem;
}

#work h2, #work p {
    max-width: 700px;
    text-align: center;
    margin: auto;
}

#work p{
    padding: 1rem;
}

.grid-1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.grid-1 article {
    background-color: #fff;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}

.grid-1 article h3{
    margin-bottom: 0;
}

.grid-1 a:link, .grid-1 a:visited {
    display: inline-block;
    padding: .8em 1em;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    border: 2px solid #000;
    border-radius: 4px;
    margin-top: auto;
}

.grid-1 a:hover, .grid-1 a:focus {
    background-color: #fff;
    color: #000;
}



.grid-2{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "img1 img1 img1 img2 img2 img2"
    "img3 img3 img4 img4 img5 img5";
}

.grid-2 img:nth-child(1) {
    grid-area: img1;
}

.grid-2 img:nth-child(2) {
    grid-area: img2;
}

.grid-2 img:nth-child(3) {
    grid-area: img3;
}

.grid-2 img:nth-child(4) {
    grid-area: img4;
}

.grid-2 img:nth-child(5) {
    grid-area: img5;
}

footer {
    background-color: #000;
    color: #fff;
    text-align: center;
}
